.leaflet-container {
  height: 865px;
  width: 100%;
}

.navbar {
  margin-bottom: 0px;
}

.div-map {
  position: relative;
}
.div-pickup {
  color: black;
  position: absolute;
  bottom: 100px;
  right: 50%;
  width: 260px;
  height: auto;
  border: 2px solid white;
  background-color: white;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
}

.div-pickup-btn-box {
  margin: 5px;
  bottom: 5px;
  text-align: center;
  left: 25%;
}

.div-pickup-address {
  line-height: 17px;
  padding: 10px;
  font-size: 12px;
  color: rgb(59, 58, 58);
}

.style-1 {
  color: green;
}